
.gameInfo{
	display: table;
	width: 92%;
    margin: 15px;
}
.greenbox{
	padding: 50px;
    background-color: green;
    width: 70%;
}
.personalInfo{
	display: table;
	width: 250px;
}
.text {
    font-family: Calibri;
}
.textBold {
    font-weight: bold;
}
.textRight {
    text-align: right;
    flex: 2;
}
.whiteText {
    color: white;
    font-size: 13px;
}
.separator {
    width: 1px;
    background-color: white;
    margin: 12px 6px 6px 6px;
}
.textShadow {
    text-shadow: 2px 2px 5px black;
}
.boxHeader{
    flex: 1;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    background-color: #414776;
    box-shadow: 0 4px 8px 0 black;
    font-size: 16px;
    min-height: 41px;
}
.boxSecondaryHeader{
    font-weight: bold;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.boxHeaderCell{
    margin: 10px;
}
.boxRow{
    display: flex;
    flex-direction: row;
}
.boxRowWithUnderline{
    display: flex;
    flex-direction: row;
    border-bottom: 1px dotted #505050
}
.boxCell{
    flex: 1;
    margin: 3px;
}
.boxCellCaption{
    margin: 3px;
}
.caption {
    flex: 1;
    margin: 3px;
}
.boxWithShadow{
    border-radius: 10px;
    border: 1px solid black;
    background-image: linear-gradient(to bottom right, #212766, #0E1134);
}
.invisible{
    display: none;
}
.colorSettings{
    width: 160px;
    margin: 6px;
}
.colorSetting{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.menu {
    width:200px;
}
.menuitem {
    margin: 2px;
    padding: 6px;
    cursor: pointer;
}
p.menuitem:hover {
  background-color: lightblue;
}
.dataTables_wrapper .dataTables_filter input {
    background-color: white;
}
.dataTables_wrapper .dataTables_filter label {
    color: #ddd;
}